<!--
  This file is responsible for rendering a single blog post.
-->

{{ template "chrome/header.html" . }}

<body >
  {{ template "chrome/sidebar.html" . }}

  <div class="container content">
    <h1 class="post-title">{{ .Title }}</h1>
    <section id="main">
      <h5 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h5>
      {{ .Content }}
    </section>
    {{ template "chrome/prev_next.html" . }}
    <br />
    {{ template "chrome/categories.html" . }}
  </div>

  <!-- Include footer (ends <body > and <html>) -->
  {{ template "chrome/footer.html" }}



